<div>


    <div class='container'>
        <div class='container_inner'>
          <img src="./assets/img/LogoInicio.png" width="200px" height="200px"></img>
          <h1>Sistema de Monitoramento</h1>
        <button id="myBtn" class="button" style="vertical-align:middle"><span>Abrir o mapa</span></button>
          </br></br>
          <br>
          <div class='tiles'>
            <div class='tiles_tile' ng-repeat="elemento in computadores">
              <a href="{{elemento.ssh}}">
                <div class="tiles_tile__front"
                     ng-class="elemento.ativo ? 'tile_true' : 'tile_false' ">
                <h1 ng-class="elemento.ativo ? 'tile_border_true' : 'tile_border_false' ">
                    <img ng-src='{{elemento.ativo ? "./assets/img/ativo.png" :  "./assets/img/inativo.png"}}'>
                    {{elemento.nome}}
                  </h1>
                  <p>{{elemento.ativo ? 'Ativo' : 'Inativo'}}</p>
                </div>
                <div class='tiles_tile__back'>
                  <div class='info'>
                      <h1>{{elemento.detalhe}}</h1>
                  </div>
                  <div class='graphback'>
                    <img src='{{elemento.imagem.n3}}'>
                  </div>
                  <div class='graphmid'>
                    <img src='{{elemento.imagem.n2}}'>
                  </div>
                  <div class='graphfront'>
                    <img src='{{elemento.imagem.n1}}'>
                  </div>
                </div>
                <div class='tiles_tile__left'
                     ng-class="elemento.ativo ? 'tile_true' : 'tile_false' ">
                </div>
                <div class='tiles_tile__right'
                     ng-class="elemento.ativo ? 'tile_border_true' : 'tile_border_false' ">
                </div>
                <div class='tiles_tile__top {{elemento.estilo.borda}}'
                    ng-class="elemento.ativo ? 'tile_border_true' : 'tile_border_false' ">
                </div>
                <div class='tiles_tile__bottom'
                     ng-class="elemento.ativo ? 'tile_border_true' : 'tile_border_false' ">
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
    <div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
        <span class="close">&times;</span>
        <h2>OS Impress</h2>
        </div>
        <div class="modal-body">
          <img src="./assets/img/planta.png" alt="Planta baixa do predio" usemap="#plantaBaixa" class="planta">
          <map name="plantaBaixa" ng-repeat="computador in computadores">
              <area shape="rect" class="{{computador.classe}}"
              ng-class="elemento.ativo ? 'map_true' : 'map_false' "
              href="{{computador.ssh}}">
          </map>
        </div>
    </div>
    </div>

</div>